@page "/Dashboard/VenueCategoryDelete/{Id:int}"

@using Frontend.Models
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject NavigationManager NavManager
@inject HttpClient Http
@attribute [Authorize(Roles = "admin")]

<h3>Venue Category Delete</h3>
<a href="/Dashboard/VenueCategories">Back to Venue Categories</a>
<br />
<br />
<div class="row">
    <div class="col-md-4">
            <p>
                Id : @Id<br />
                Category Name: @VC.CategoryName<br />
                Description: @VC.Descr
            </p> 
    </div>
        <br />
        <div class="form-group">
            <input value="Delete Category" class="btn btn-secondary" @onclick="DeleteVenueCategory" /><br /><br />
            <span>@errorMessage</span>
        </div>
</div>

@code
{
    private VenueCategory? VC { get; set; }

    [Parameter]
    public int Id { get; set; }
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            VC = await Http.GetFromJsonAsync<VenueCategory>($"api/VenueCategories/{Id}");

        }
        catch (Exception e)
        {
            Console.Write(e);
        }
    }

    protected async Task DeleteVenueCategory()
    {
        try
        {
            var response = await Http.DeleteAsync($"api/VenueCategories/{Id}");
            NavManager.NavigateTo("/Dashboard/VenueCategories");
        }
        catch (Exception e)
        {
            Console.Write(e);
        }
    }
}
